header {
    font-size: 1em;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--header-background);
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: 0.8em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}
main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: 0.8em;
    font-size: 0.8em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}

#inputs-container img {
    margin: 10px;
    width: 30%;
    border-radius: 50%;
    box-shadow: rgb(0, 60, 255) 0px 10px 20px, rgb(255, 0, 0) 0px 6px 6px;
}

.hide {
    display: none;
}
